<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div id="wrapper">
  <div *ngIf="user" class="ion-padding-top ion-text-center">
    <img *ngIf="user.image" src="{{user.image}}" alt="avatar">
    <img *ngIf="!user.image" src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{user.firstName}} {{user.lastName}}</h2>

    <!-- <ion-list inset>
      <ion-item (click)="updatePicture()">Update Picture</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list> -->

    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="firstName" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="lastName" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input type="text" name="street" [(ngModel)]="user.street"></ion-input>
          <ion-input type="text" name="city" [(ngModel)]="user.city"></ion-input>
          <ion-input type="text" name="state" [(ngModel)]="user.state"></ion-input>
          <ion-input type="text" name="zip" [(ngModel)]="user.zip"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Phone <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="phone" [(ngModel)]="user.phone"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Notes</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item> -->
      </ion-list>

      <div class="ion-padding" >
        <ion-button expand="block" (click)="updateUser()" class="ion-no-margin">Update Account</ion-button>
      </div>
    </form>
  </div>
</div>
</ion-content>
