<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-logo">
    <img src="assets/img/appicon.svg" alt="QRx Logo" />
  </div>
  <form class="noborder">
      <ion-list lines="none">
    <ion-item>
      <ion-label>Username:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.username"
        name="username"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        type="password"
        [(ngModel)]="user.password"
        name="password"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>First Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.firstName"
        name="firstName"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.lastName"
        name="lastName"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Street</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="user.street"
        name="street"
      ></ion-input> </ion-item
    ><ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" [(ngModel)]="user.city" name="city"></ion-input
    ></ion-item>
    <ion-item
      ><ion-label>State</ion-label>
      <ion-input type="text" [(ngModel)]="user.state" name="state"></ion-input
    ></ion-item>
    <ion-item>
      <ion-label>Zip <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="user.zip" name="zip"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone <ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        required
        type="text"
        name="phone"
        [(ngModel)]="user.phone"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label
        >Account for professional use as a medical provider?
        <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-toggle
        slot="start"
        name="provider"
        color="danger"
        [(ngModel)]="provider"
      ></ion-toggle>
    </ion-item>

     <div *ngIf="provider">
      <ion-item>
        <ion-label>Clinical Title</ion-label>
        <ion-select
          placeholder="Select One"
          [(ngModel)]="user.title"
          name="title"
        >
          <ion-select-option *ngFor="let title of titleList" name="title" [value]="title">{{
            title
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="provider">Provider Role</ion-label>
        <ion-select
          placeholder="Select One"
          [(ngModel)]="user.role"
          name="role"
        >
          <ion-select-option *ngFor="let role of roleList" name="role" [value]="role">{{
            role
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    </ion-list>
    <div class="ion-padding">
      <ion-button (click)="addUser()" type="submit" expand="block">Create</ion-button>
    </div>
  </form>
</ion-content>
