<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient Registration</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>

  <div class="register-logo">
    <img src="assets/img/appicon.svg" alt="QRx Logo">
  </div>

  <form #registerForm="ngForm" name="patient" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Date of Birth</ion-label>
        <ion-input [(ngModel)]="patient.birthdate" name="birthdate" type="date" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked" color="primary">Biological Sex</ion-label>
            <ion-select name="sex" >
              <ion-select-option value="male" [(ngModel)]="patient.sex" >Male</ion-select-option>
              <ion-select-option value="female" [(ngModel)]="patient.sex" >Female</ion-select-option>
            </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Height (inches)</ion-label>
        <ion-input  required type="number" name='height' [(ngModel)]="patient.height"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Weight (pounds)</ion-label>
        <ion-input  required type="number" name='weight' [(ngModel)]="patient.weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Blood Type</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="patient.bloodType" name="diagnosis">
          <ion-select-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">{{ bloodType.abo}}{{(bloodType.rh) ? '+' : '-'}}</ion-select-option></ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">DNR? (check box if you have one)</ion-label>
        <ion-checkbox color="dark" checked slot="start" name='active' [(ngModel)]="patient.dnr"></ion-checkbox>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="addPatient()" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content> -->
