<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="register-logo">
    <img src="assets/img/appicon.svg" alt="QRx Logo">
  </div> -->

  <form #registerForm="ngForm" name="patient" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Date of Birth</ion-label>
        <ion-input [(ngModel)]="patient.birthdate" name="birthdate" type="date" required>
        </ion-input>
      </ion-item>
      <!-- <ion-item>
          <ion-label>Sex</ion-label>
          <ion-select name="sex" >
            <ion-select-option value="male" [(ngModel)]="patient.sex" >Male</ion-select-option>
            <ion-select-option value="female" [(ngModel)]="patient.sex" >Female</ion-select-option>
          </ion-select>
        </ion-item> -->
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="addPatient()" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content>
