<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Your QRx</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-item>
              <ion-button *ngIf='!userQR' (click)="getQR()">
                  Generate QR
                </ion-button>
              <img *ngIf='userQR' [src]='userQR'/>
        </ion-item>
        </ion-row>
      </ion-grid>
</ion-content>
