<ion-header *ngIf="medication">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/medications"></ion-back-button>
    </ion-buttons>
    <ion-title>{{medication.medName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding medication-detail" >
  <div class="ion-text-center"  *ngIf="medication && !editMedication">
    <!-- <img [src]="medication.drug.imgUrl" [alt]="medication.drug.proprietaryName"> -->
    <br>
    <h4>Directions: {{medication.directions}}</h4>
    <h4>Active: {{medication.active}}</h4>
    <h4 *ngIf="medication.diagnosis">Diagnosis: {{medication.diagnosis.name}}</h4>
    <h4 *ngIf="medication.prescriber">Prescribed By: {{medication.prescriber.provider.user.firstName}} {{medication.prescriber.provider.user.lastName}} {{medication.prescriber.provider.user.title}}</h4>
    <h4 *ngIf="medication.reasonDiscontinued">Reason Discontinued: {{medication.reasonDiscontinued}}</h4>
  </div>

  <div *ngIf="editMedication">
      <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Medication Name <ion-text color="danger">*</ion-text></ion-label>
            <!-- <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input> -->
            <ion-input  required type="text" name='medName' placeholder='eg. Aspirin' [(ngModel)]="editMedication.medName"></ion-input>
          </ion-item>
          <!-- TODO: add drug to medication
            <ion-item>
              <ion-label position="stacked">Drug <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label position="stacked">Directions</ion-label>
              <ion-input  required type="text" name='directions' placeholder='eg. Take one tablet by mouth daily' [(ngModel)]="editMedication.directions"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Start Date</ion-label>
              <ion-datetime value="1980-02-19" name='startDate' placeholder="Select Date" [(ngModel)]="editMedication.startDate"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Medication Active</ion-label>
              <ion-checkbox color="dark" checked slot="start" name='active' [(ngModel)]="editMedication.active"></ion-checkbox>
            <ion-textarea></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Associated Diagnosis</ion-label>
            <ion-select *ngIf="medication.diagnosis" [placeholder]="medication.diagnosis.name" [(ngModel)]="editMedication.diagnosis" name="diagnosis">
              <ion-select-option *ngFor="let diagnosis of diagnosisList" [value]="diagnosis">{{ diagnosis.name }}</ion-select-option>
            </ion-select>
            <ion-select *ngIf="!medication.diagnosis" [(ngModel)]="editMedication.diagnosis" name="diagnosis" placeholder="Associate a Diagnosis">
                <ion-select-option *ngFor="let diagnosis of diagnosisList" [value]="diagnosis">{{ diagnosis.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Prescriber</ion-label>
            <ion-select *ngIf="medication.prescriber" [placeholder]="medication.prescriber.provider.user.firstName + ' ' + medication.prescriber.provider.user.lastName + ' ' + medication.prescriber.provider.user.title" [(ngModel)]="editMedication.prescriber" name="prescriber">
              <ion-select-option *ngFor="let prescriber of prescriberList" >{{prescriber.provider.user.firstName}} {{prescriber.provider.user.lastName}} {{prescriber.provider.user.title}}</ion-select-option >
            </ion-select>
            <ion-select *ngIf="!medication.prescriber"  placeholder="Associate an Approved Provider" [(ngModel)]="editMedication.prescriber" name="prescriber" >
              <ion-select-option  *ngFor="let prescriber of prescriberList" >{{prescriber.provider.user.firstName}} {{prescriber.provider.user.lastName}} {{prescriber.provider.user.title}}</ion-select-option  >
            </ion-select>
          </ion-item>

        </ion-list>

        <div class="ion-padding">
          <ion-row>
              <ion-col>
                <ion-button (click)="saveEdit()" expand="block" type="submit" class="ion-no-margin">Save</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="this.editMedication = null" expand="block" type="submit" class="ion-no-margin" color="light" expand="block">Cancel</ion-button>
              </ion-col>
            </ion-row>
        </div>
      </form>
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side='start'>
            <ion-fab-button (click)="setEditMedication()">
              <ion-icon name="sync"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side='end'>
            <ion-fab-button (click)="deleteMed()">
              <ion-icon name="close-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

      </ion-fab>
</ion-content>
