<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Provider Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="register-logo">
    <img src="assets/img/appicon.svg" alt="Ionic Logo">
  </div> -->

  <form #reigsterForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Organization</ion-label>
        <ion-input [(ngModel)]="provider.organization" name="organization" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Subunit</ion-label>
        <ion-input [(ngModel)]="provider.subunit" name="organization" type="text" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="addProvider()" type="submit" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content>
