<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>[QRx]</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="checkLoginStatus()">
          <ion-item class="noborder" *ngIf="user" routerLink="/account">
            <ion-avatar slot="start" *ngIf="!user.image">
              <img
                src="https://www.gravatar.com/avatar?d=mm&s=140"
                alt="Picture"
              />
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="user.image">
              <img src="{{ user.image }}" alt="Picture" />
            </ion-avatar>
            <ion-text>{{ user.firstName }} {{ user.lastName }}</ion-text>
          </ion-item>
          <ion-list-header>
            Navigate
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngIf="isUserEMS()">
            <ion-item routerLink="/emt-view" routerDirection="root">
              <ion-icon slot="start" name="medkit"></ion-icon>
              <ion-label>
                EMS Dashboard
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="isUserPhysician()">
            <ion-item routerLink="/patient-list" routerDirection="root">
              <ion-icon slot="start" name="contacts"></ion-icon>
              <ion-label>
                My Patients
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="isUserAdmin()">
            <ion-item routerLink="/emt-view" routerDirection="root">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>
                Admin Dashboard
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle
            autoHide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              [routerLink]="p.url"
              routerLinkActive="active"
              routerDirection="root"
              *ngIf="isUserPatient()"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="checkLoginStatus()">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/qr-code"
              routerDirection="root"
              *ngIf="isUserPatient()"
            >
              <ion-icon slot="start" name="barcode"></ion-icon>
              <ion-label>
                MyQRx
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="!checkLoginStatus()">
          <ion-list-header *ngIf="isUserPatient()">
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/register" routerDirection="root">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Register
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
