.note-list-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.note-list-header img {
  max-height: 100%;
}

.note-list-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.note-list-info ion-icon {
  margin-inline-end: 32px;
}

.ios .note-list-info {
  text-align: center;
}
