<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Allergies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngIf="!viewAllergyForm">
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch" *ngIf="allergies">
        <ion-col size="12" size-md="6" *ngFor="let allergy of allergies">
          <ion-card
            class="allergy-card"
            routerLink="/app/tabs/allergies/allergy-detail/{{ allergy.id }}"
          >
            <ion-card-header>
              <ion-item detail="false" lines="none">
                <h4>Allergen - {{ allergy.allergen }}</h4>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h3>Reaction - {{ allergy.reaction }}</h3>
                </ion-item>
                <ion-item>
                  <h3>Active - {{ allergy.active }}</h3>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <div *ngIf="viewAllergyForm">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked"
            >Allergen Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="allergen"
            placeholder="eg. cat dander"
            [(ngModel)]="newAllergy.allergen"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-label position="stacked"
            >Reaction <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="reaction"
            placeholder="eg. red itchy eyes"
            [(ngModel)]="newAllergy.reaction"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Allergy Active</ion-label>
          <ion-checkbox
            color="dark"
            checked
            slot="start"
            name="active"
            [(ngModel)]="newAllergy.active"
          ></ion-checkbox>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button
              (click)="addAllergy(); this.viewAllergyForm = false"
              expand="block"
              type="submit"
              class="ion-no-margin"
              >Save</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              (click)="this.viewAllergyForm = false"
              expand="block"
              color="light"
              class="ion-no-margin"
              expand="block"
              >Cancel</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="showAllergyForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
