<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Allergies</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="reload()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
    <div id = "wrapper">
  <ion-list *ngIf="!viewAllergyForm">
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch" *ngIf="allergies">
        <ion-col size-md="6" *ngFor="let allergy of allergies">
          <ion-card class="allergy-card" routerLink="/app/tabs/allergies/allergy-detail/{{ allergy.id }}" >
             <ion-item *ngIf="allergy.severity !== null">
                <ion-icon *ngIf="allergy.severity >= 5" name="warning" slot="start" color="danger"></ion-icon>
                <ion-icon *ngIf="allergy.severity === 4" name="warning" slot="start" color="danger"></ion-icon>
                <ion-icon *ngIf="allergy.severity === 3" name="warning" slot="start" color="warning"></ion-icon>
                <ion-icon *ngIf="allergy.severity === 2" name="warning" slot="start" color="warning"></ion-icon>
                <ion-icon *ngIf="allergy.severity === 1" name="warning" slot="start" color="light"></ion-icon>
                <ion-card-title>{{ allergy.allergen }}</ion-card-title>
              </ion-item>
              <ion-item>
              <ion-label *ngIf="allergy.reaction !== null">Reaction: </ion-label>
              <ion-card-content *ngIf="allergy.reaction !== null"> {{ allergy.reaction }} </ion-card-content>
              </ion-item>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <div *ngIf="viewAllergyForm">
      <ion-item>
          <ion-searchbar
            mode="md"
            autocorrect="on"
            spellcheck="on"
            placeholder="Search for FDA Approved Prescription Drugs, OTCs, Vaccines, Cosemetics "
            [(ngModel)]="keyword"
            (search)="presentModal()"
          ></ion-searchbar>
        </ion-item>
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked"
            >Allergen Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="allergen"
            placeholder="eg. cat dander"
            [(ngModel)]="newAllergy.allergen"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-label position="stacked"
            >Reaction <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="reaction"
            placeholder="eg. red itchy eyes"
            [(ngModel)]="newAllergy.reaction"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Allergy Active</ion-label>
          <ion-checkbox
            color="dark"
            checked
            slot="start"
            name="active"
            [(ngModel)]="newAllergy.active"
          ></ion-checkbox>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button
              (click)="addAllergy(); this.viewAllergyForm = false"
              expand="block"
              type="submit"
              class="ion-no-margin"
              >Save</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              (click)="this.viewAllergyForm = false"
              expand="block"
              color="light"
              class="ion-no-margin"
              expand="block"
              >Cancel</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="showAllergyForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
