<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Emergency Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngIf="!viewNewContactForm">
    <ion-grid fixed>
      <ion-row *ngIf="!contacts">
        <h4>Add Loading Animations</h4>
      </ion-row>
      <ion-row class="ion-align-items-stretch" *ngIf="contacts">
        <ion-col size="12" size-md="6" *ngFor="let contact of contacts">
          <ion-card
            class="contact-card"
            routerLink="/app/tabs/contacts/contacts-detail/{{ contact.id }}"
          >
            <ion-card-header>
              <ion-item detail="false" lines="none">
                <h4>{{ contact.firstName }} {{ contact.lastName }}</h4>
              </ion-item>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h3>Relationship: {{ contact.relationship }}<br /></h3>
                  <br /> </ion-item
                ><ion-item>
                  <h3>Email: {{ contact.email }}</h3>
                  <br /> </ion-item
                ><ion-item>
                  <label>Phone: </label>
                  <h3>{{ contact.phone }}</h3>
                  <br />
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <div *ngIf="viewNewContactForm">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked"
            >First Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="firstName"
            [(ngModel)]="newEmergencyContact.firstName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Last Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="lastName"
            [(ngModel)]="newEmergencyContact.lastName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Phone <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="phone"
            [(ngModel)]="newEmergencyContact.phone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Email <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="email"
            [(ngModel)]="newEmergencyContact.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Relationship <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="relationship"
            [(ngModel)]="newEmergencyContact.relationship"
          ></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button
              (click)="addContact()"
              expand="block"
              type="submit"
              class="ion-no-margin"
              >Save</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              (click)="this.viewNewContactForm = false"
              expand="block"
              color="light"
              class="ion-no-margin"
              expand="block"
              >Cancel</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="showContactForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
