<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Emergency Contacts</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="reload()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div id="wrapper">
  <ion-list *ngIf="!viewNewContactForm">
    <ion-grid fixed>
      <ion-row *ngIf="!contacts">
        <h4>Add Loading Animations</h4>
      </ion-row>
      <ion-row class="ion-align-items-stretch" *ngIf="contacts">
        <ion-col size-md="6" *ngFor="let contact of contacts">
          <ion-card class="contact-card" routerLink="/app/tabs/contacts/contacts-detail/{{ contact.id }}" >
            <ion-item>
            <ion-card-title>{{ contact.firstName }} {{ contact.lastName }}</ion-card-title>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" *ngIf="contact.relationship"> Relationship: </ion-label>
            {{ contact.relationship }}
          </ion-item>
          <ion-item>
            <ion-label position="stacked" *ngIf="contact.email">
              Email: </ion-label>{{ contact.email }}
            </ion-item>
            <ion-item class="noborder" >
              <ion-label position="stacked" *ngIf="contact.phone">
                Phone: </ion-label>
                {{ contact.phone }}
              </ion-item>
              <br />
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <div *ngIf="viewNewContactForm">
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked"
            >First Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="firstName"
            [(ngModel)]="newEmergencyContact.firstName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Last Name <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="lastName"
            [(ngModel)]="newEmergencyContact.lastName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Phone <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="phone"
            [(ngModel)]="newEmergencyContact.phone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Email <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="email"
            [(ngModel)]="newEmergencyContact.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Relationship <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            type="text"
            name="relationship"
            [(ngModel)]="newEmergencyContact.relationship"
          ></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button
              (click)="addContact()"
              expand="block"
              type="submit"
              class="ion-no-margin"
              >Save</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              (click)="this.viewNewContactForm = false"
              expand="block"
              color="light"
              class="ion-no-margin"
              expand="block"
              >Cancel</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
</div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="showContactForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
